<script id="tmpl-StudyCreate" type="text/html">
	<div class="StudyCreate">
		<div class="navs">      
			  <div class="back"><button class="btn btn-inverse btn-mini btnBack">Back</button></div>
			  <div class="title"><span>New Study</span></div>
        </div>
        <div class="content">
        	<p><button class="btn btn-large btn-block btn-primary btnDetail">Details</button></p> 
        	<p><button class="btn btn-large btn-block btn-primary btnTask" {{if sid==0}}disabled{{/if}}>Tasks</button></p> 
        	<p><button class="btn btn-large btn-block btn-primary btnTestUser" {{if sid==0}}disabled{{/if}}>Users</button></p> 
        	<p><button class="btn btn-large btn-block btn-primary btnResult" {{if sid==0}}disabled{{/if}}>Results</button></p> 
        	<div class="bottom">
        		<label>Empower Experience</label>
        	</div>
        </div>
	</div>  
</script>