<script id="tmpl-StudyView" type="text/html">
	<div class="StudyView">
        <div class="content">
        	<div class="create-content hide">
        		<div class="top">
        			<button class="btn btn-large btn-primary btn-create-new">Create a study now!</button>
        		</div>
        		
        		<div class="bottom">
        			<label>Empower EXPERIENCE</label>
        		</div>
        	</div>
        	<div class="studies-content hide">
				<div class="navs">      
					  <div class="justify"><i class="icon-align-justify"></i></div>
					  <div class="title"><span>Studies</span></div>
					  <div class="menu"><i class="icon-align-justify"></i></div>
		        </div>
		        <div class="studies-list">      
					<div class="top-create">
	        			<div class="create-btn btn-create-new"><span>New Study</span></div>
	        			<div class="line-dash">&nbsp;</div>
	        		</div>
	        		<div class="bottom-list">
	        			<div class="items">
	        				<div class="title"><label>Bob's Big Bad Beer Study</label></div>
	        				<div class="date-tags">
	        					<span class="creation-date">12 Sep 2012</span>
	        					<span class="tags">Routers, Technology, Benchmark</span>
	        				</div>
	        			<div>
	        		</div>
		        </div>
        	</div>
        </div>
	</div>  
</script>

<script id="tmpl-StudyView-studies-item" type="text/html">
	<div class="items">
		<div class="title"><label>{{:name}}</label></div>
		<div class="date-tags">
			<span class="creation-date">{{:creationDate}}</span>
			<span class="tags">{{:tags}}</span>
		</div>
	<div>
</script>