<script id="tmpl-TestUserCreate" type="text/html">
	<div class="TestUserCreate">
		<div class="navs">      
			  <div class="back"><button class="btn btn-inverse btn-mini btnBack">Back</button></div>
			  <div class="title"><span>User Details</span></div>
        </div>
        <div class="content">
        	<div class="sec">
        		<div class="fieldname"><span>Name:</span></div>
        		<div class="field"><input value="{{:name}}" name="name" /></div>
			</div>
        	<div class="sec">
        		<div class="fieldname"><span>Label:</span></div>
        		<div class="field"><input name="label" value="{{:label}}" /></div>
			</div> 
        	<div class="sec">
        		<button class="btn btn-large btn-primary btnSave">Save</button>
        	</div>
        </div>
	</div>  
</script>